/* Universal Styles */
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
}

/* Header and Nav */
header {
  height: 5em;
  background-color: black;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

header img {
  height: 30%;
  margin-right: 1.25em;
}

header span {
  color: white;
}

header img, header span {
  position: relative;
  top: 1.8em;
  left: 20em;
}

/* Banner */
.banner {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25em;
}

.banner-text {
  height: 10em;
  width: 22em;
  background-color: black;
  position: relative;
  top: 9.5em;
  left: 21em;
}

.banner-text h1 {
  color: white;
  padding: 1em;
}

.banner-text h1.bottom {
  font-weight: bold;
  font-size: 1.85em;
  padding: 0.25em;
  margin-left: 0.25em;
}

/* Navigation Bar */
nav {
  height: 3em;
  background-color: firebrick;
}

nav ul li {
  display: inline;
  color: white;
  padding: 2.5em;
  position: relative;
  top: 0.8em;
  left: 21.8em;
}
